* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
h1{
    text-decoration: underline;
    text-transform: capitalize;
}
.titulo{
    text-align: left;
    background-image: radial-gradient(rgb(195, 212, 226), rgb(255, 255, 255));
    padding-left: 10px;
    text-indent: 0;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 0px;
    
}
article{
    
    width: 80%; 
    border: 2px solid black;
    padding: 10px;
}
article section p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    padding: 5px;
}
section ul{
    list-style-image: url("../img/estrella.png");
    margin-left: 50px;
    align-content: left;

}
section ul li{
    padding: 0px;
    text-align: left;

}
nav ul li{
    font-size: 1.5rem;
    display: inline-block;
    padding:20px;
}
a{
    padding: 0px 10px;
    text-decoration: none;
}
a:hover {
    background-color:red;
}