*{
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
header{
    padding: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}

li{
    padding: 2px;
    color: maroon;
    background: rgb(255, 186, 58);
    font-weight: bold;
    margin: 0 20px 0 20px;
    padding: 2px 20px 2px 20px;
    border-top: 3px solid maroon;
    border-left: 3px solid maroon;
    border-right: 3px solid maroon;

}

li:hover{
    background: #fff;
    color: rgb(117, 117, 117);
    
}