* {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

header{
   background-color: rgb(255, 254, 182);
   padding: 80px 20px;
}

footer{
    background-color: rgb(255, 166, 233);
    padding: 40px;  
    clear: both;
}
#leftcolumn{
    float: left;
    width: 30%;
}

#navigation{
    height: 20em;
    background-color: rgb(91, 148, 91);
}
#linklist{
    height: 20em;
    background-color: rgb(126, 104, 167);
}
section{
    float: right;
    width: 70%;
    height: 40em;
    background-color: rgb(164, 232, 235);
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}